<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Weather Maps by @rogers9798</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<style>
body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }

</style>
</head>
<body>
 
<style>
#features {
position:fixed;
top: 0;
right: 0;
bottom: 0;
height: 50px;
overflow: hidden;
background: rgba(255, 255, 255, 0.8);
}
#map canvas {
cursor: crosshair;
}
</style>

<div id='map'>
        <div id="coord">
            <% if(weather !== null){ %>
                <h2 style="color: red;"><b><%= weather %></b></h2>
            <% } %>
            
            <% if(error !== null){ %>
                <h2><b><%= error %></b></h2>
            <% } %>

        </div>
</div>
    
<div id='features'></div>

<script>

mapboxgl.accessToken = 'sk.eyJ1Ijoicm9nZXJzOTc5OCIsImEiOiJjazJ0MTdkbzYwbHo4M21wdnhjNzlnejFrIn0.J8Cl-CcdfLW7t4Q7Z3xDSg';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [77,28.6],
zoom: 6
});

map.on('click', function (e) {
    
var features = map.queryRenderedFeatures(e.point);
document.getElementById('features').innerHTML = JSON.stringify(features[0]["geometry"]["coordinates"], null, 2);

document.getElementById("coord").innerHTML+='<form id="checkform" action="/" method="post"><input type="text" name="lat" ><input type="text" name="lon" ><input type="submit" name="sub" value="check"></form>';
document.getElementsByName("lat")[0].value=JSON.stringify(features[0]["geometry"]["coordinates"][1], null, 2);
document.getElementsByName("lon")[0].value=JSON.stringify(features[0]["geometry"]["coordinates"][0], null, 2);

document.getElementById("checkform").submit();


});

</script>

</body>
</html>